<a href="https://colab.research.google.com/github/DrDavidL/dhds/blob/main/notebook_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learning Data Science

## *Welcome Data Science Learners!!!*

Part 1: Introduction to the Data Science Notebook

## Purpose

The goal of this exercise is an introduction to a tool of data science, the **notebook.** There are 2 main features of data science notebooks:

- Cells that contain text (like this one you're reading).
- Cells that contain code for manipulating data.

## Let's Start with Text Cells
This cell, and the one above, are **text cells**. You can **double-click** to edit this cell and then click your `escape` key (top left of your keyboard), to see how it looks. Text cells
are composed using `markdown` for their formatting. This is sort of like a mini-version of HTML used on webpages. There is no need to learn details of `markdown` (which is actually pretty simple), but if you are interested, Google supplies a [markdown
guide](/notebooks/markdown_guide.ipynb) for the variation used in Colab notebooks.  

> And, remember, if you accidentally double click a text cell, use your `esc` key to hide the `markdown`!

## Now, over to Code Cells
This text cell you're reading now explains the `code cell` below. To run code cells, your cloud computer needs to be running. So, please check at the top right of this window to make sure your cloud computer from Google is running. if ![smallerram.jpg]() appears, you're set. If ![CleanShot 2022-06-25 at 10.08.26@2x.png]() appears, click it to start up your cloud computer. Once the toolbar button at the top of the page shows the RAM and Disk, it's ready! Click inside the code cell below to select it. Then, run the code (yay!) using the **Play icon** in the left gutter of the cell. Cells with outputs (like this one) display the output right underneath.

When using code cells, read all text that appears after the `#` symbols. These are `comments` and explain the code being used.

In [6]:
# This is a comment in a code cell, not code. The "#" here stops this line from being executed.
# The code below creates the variable 'a' using the python language and assigns it the value of 5.
# The next line prints the output value of ` a x a `. The printout appears in the output field below this cell. 
# Change 'a' to another number and run this cell again, programmer!
# Oh, and don't be worried. You're not learning to program. What you'll learn to do, like simply 
# changing that 'a' value, is how to modify existing code for new data sets!

a = 5

print(a * a)

25


# Ready! So... how do we get our dataset into our cloud computer?

The approach coded below will retrieve a CSV (comma separated values) data file from an Internet location. In the "Optional for Reference" section of this notebook down below are other options including importing from a local file on your computer or files saved in Excel format. 

[Here](https://hbiostat.org/data/repo/diabetes.html) is information on the dataset we're using.

In [7]:
# Our cloud computer needs a tool to retrieve and "read" a dataset. 
# A great tool for retrieving spreadsheets of data is a python package called Pandas.
# The code below installs Pandas on our computer and gives it a shortcut name, 'pd', since we always want to save keystrokes!
import pandas as pd

# If the file containing your dataset is on a public website, the following 2 steps are used. (Yes, only 2!!)
# Pandas can interpret a variety of file types including CSV (comma separate values), Excel, and even tables on website!
# First, let's enter the website address to the CSV file. Note - the website needs to go directly to that file. That is,
# if you enter that URL, you should either see the data or be prompted to download a CSV file. Here is our example. Try opening in a webrowser.
website = 'https://raw.githubusercontent.com/DrDavidL/dhds/main/predictdm.csv'

# OK - now Pandas needs to "read" the CSV file and save it on your cloud computer. 
# We use the "read" command from Pandas (remember we use our shortcut "pd").
# Pandas stores the data inside a "dataframe" file. This is like an accordion of Excel 
# spreadsheets. Here, we use just one layer, the equivalent of one spreadsheet. 
stored_data = pd.read_csv(website)

# Let's view the first few rows to make sure it worked!
# Using ".head()" will reveal the first 5 rows!
stored_data.head()

,Cholesterol,Glucose,HDL Chol,Chol/HDL ratio,Age,Gender,Height,Weight,BMI,Systolic BP,Diastolic BP,waist,hip,Waist/hip ratio,Diabetes
0,194,86,67,2.9,35,male,66,159,25.7,115,64,31,35,0.89,No diabetes
1,158,74,64,2.5,30,female,62,142,26.0,108,68,32,34,0.94,No diabetes
2,203,71,78,2.6,45,male,66,115,18.6,135,88,30,34,0.88,No diabetes
3,160,82,41,3.9,30,female,63,143,25.3,172,124,33,40,0.83,No diabetes
4,155,81,70,2.2,32,female,65,151,25.1,120,68,33,40,0.83,No diabetes

One more thing! Let's get a hint of the power of our tools Let's use a one line command to describe our dataset! Run the cell below, review the output, and you're done!

> count --> The number of values.  
> mean --> The mean average for items in the column.   
> std --> The standard deviation for the column.   
> min --> The lowest value for the column.   
> 25% --> The 1st quartile break point.  
> 50% --> The 2nd quartile break point.    
> 75% --> The 3rd quartile break point.     
> max --> The highest value for the column.   

Look across the mean values; are they reasonable?     
Look at the counts; are any data missing?

In [9]:
stored_data.describe()

,Cholesterol,Glucose,HDL Chol,Chol/HDL ratio,Age,Height,Weight,BMI,Systolic BP,Diastolic BP,waist,hip,Waist/hip ratio
count,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000
mean,207.230769,107.338462,50.266667,4.524615,46.774359,65.951282,177.407692,28.775641,137.133333,83.289744,37.869231,42.992308,0.881385
std,44.666005,53.798188,17.279069,1.736634,16.435911,3.918867,40.407824,6.600915,22.859528,13.498192,5.760947,5.664342,0.073212
min,78.000000,48.000000,12.000000,1.500000,19.000000,52.000000,99.000000,15.200000,90.000000,48.000000,26.000000,30.000000,0.680000
25%,179.000000,81.000000,38.000000,3.200000,34.000000,63.000000,150.250000,24.100000,122.000000,75.000000,33.000000,39.000000,0.830000
50%,203.000000,90.000000,46.000000,4.200000,44.500000,66.000000,173.000000,27.800000,136.000000,82.000000,37.000000,42.000000,0.880000
75%,229.000000,107.750000,59.000000,5.400000,60.000000,69.000000,200.000000,32.275000,148.000000,90.000000,41.000000,46.000000,0.930000
max,443.000000,385.000000,120.000000,19.300000,92.000000,76.000000,325.000000,55.800000,250.000000,124.000000,56.000000,64.000000,1.140000

# You're done! 

If you'd like to save this file in your own Google account for future use, use the `File` command in the top left menu to save your version in your Google Drive.

OPTIONAL and for REFERENCE

The cells below give you the brief code needed to import data from other sources. That is, a CSV file isn't always floating around the public Internet for you to use, as  above. So, these next cells are for reference now and will accelerate your journey when you have:

1. A file on your own computer you'd like to upload and analyze (no PHI, though!!!). *There are safe ways to use the same code in secure environments. We're focusing here on public use cases.*
1. A file in Excel format on the web.
2. A table on a website you'd like to import as data for analysis.

4. A Google Sheets file on your Google Drive.

# What if the data is on your own computer?
What if you have a file on your computer you'd like to upload? If you downloaded the CSV file earlier, you can use that one. Or, use any CSV file you have to try this. When running the cell below, you'll be prompted to select the file. Of course NO PHI. This data is exposed and unencryted on your Colab computer so only [public data](https://datasetsearch.research.google.com/) should be used here. There are secure Colab-like environments (locally installed JupyterLab or Visual Studio Code, e.g.), that can be used and work very similarly!

In [5]:
# The steps in this cell will provide you with a button to upload a file to Colab. Again, NO PHI.
# The next cell will read the data into a dataframe using the name of your file.

from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [6]:
# Assuming you just uploaded a CSV file, replace the "yourfilename" below with the name of your CSV file.
# The 2 commands below are "commented out" with the "#" to avoid error messages. After you update
# 'yourfilename.csv', then remove the '#" before those two lines to run the code.

# stored_data = pd.read_csv('yourfilename.csv')
# stored_data.head()

## What if the data is an Excel file?
What if the data was in Excel format? You can convert it to CSV format, or Pandas can import it directly from Excel with these code examples:

In [3]:
import pandas as pd 

# Now, our 2 steps if the format is in Excel.
# Note, we have a new link for the Excel file and the command uses 'excel' instead of 'csv'.

website = 'https://github.com/DrDavidL/dhds/blob/main/predictdm.xlsx?raw=true'
stored_data = pd.read_excel(website)

# Now, let's make sure it works
# You'll see some subtle differences in that all numbers are interpreted as "floats" with decimal points versus some as integers from the CSV file.
# We'll clarify this in another session.

stored_data.head()

,Cholesterol,Glucose,HDL Chol,Chol/HDL ratio,Age,Gender,Height,Weight,BMI,Systolic BP,Diastolic BP,waist,hip,Waist/hip ratio,Diabetes
0,194.0,86.0,67.0,2.9,35.0,male,66.0,159.0,25.7,115.0,64.0,31.0,35.0,0.89,No diabetes
1,158.0,74.0,64.0,2.5,30.0,female,62.0,142.0,26.0,108.0,68.0,32.0,34.0,0.94,No diabetes
2,203.0,71.0,78.0,2.6,45.0,male,66.0,115.0,18.6,135.0,88.0,30.0,34.0,0.88,No diabetes
3,160.0,82.0,41.0,3.9,30.0,female,63.0,143.0,25.3,172.0,124.0,33.0,40.0,0.83,No diabetes
4,155.0,81.0,70.0,2.2,32.0,female,65.0,151.0,25.1,120.0,68.0,33.0,40.0,0.83,No diabetes

In [ ]:
# One further trick - what if you have multiple worksheets in your Excel file?

# Just load the worksheet of interest into the dataframe:
# df = pd.read_excel(file_name, sheet_name="house")

## What if the data is in a Wikipedia (or other website) table?

What if the data is on a table on a website? Let's use a Wikipedia example that includes COVID-19 cases and death rates. See below:

In [ ]:
website = 'https://en.wikipedia.org/wiki/COVID-19_pandemic_death_rates_by_country'

stored_data = pd.read_html(website)

# Sometimes websites have more than one table. The 'read' command we used
# pulled each of them into distinct layers of our dataframe. To select and print the layer we want,
# (numbering starts at zero), we use '1' to select the 2nd table describing cases and deaths from COVID-19.

stored_data[1].head()

## What if your spreadsheet is in your Google Drive?

In [1]:
# You might think it would be easier to read a Google Sheets spreadsheet into Pandas...
# But, there are a few extra lines of code, maintly to ensure your credientials are OK 
# to access the file. Then, there is a specific tool, gspread, that uses your credentials to read
# the Google Sheets file. Here we just get our cloud computer ready to read the Google Sheets file. 
# This same code can be used on your own account without change!
# You'll be prompted when running the code to give yourself access to your Google Drive. 

# Now, here's the code that will trigger a prompt you should approve to access your Drive files.

from google.colab import auth
auth.authenticate_user()
from google.auth import default
creds, _ = default()

# Here's the "gspread' tool for reading Google Sheets files and our authorization of that tool on our Google Drive files.

import gspread
gc = gspread.authorize(creds)

In [4]:

# Now, we open the Google Sheets file named here, 'predictdm' on my Google Drive. 
# You'd replace with the name of your own file.
#spreadsheet = gc.open('predictdm')

# Here we enter the name of the specific worksheed we'd like to use. This was the name of my worksheet.
#wks = spreadsheet.worksheet('predictdm.csv')

# Here we extract all values and also the column headers:
#data = wks.get_all_values()
#headers = data.pop(0)

# Here we move these values into a dataframe, finally:
#df = pd.DataFrame(data, columns=headers)

# See? It looks the same:
#df.head()

,Cholesterol,Glucose,HDL Chol,Chol/HDL ratio,Age,Gender,Height,Weight,BMI,Systolic BP,Diastolic BP,waist,hip,Waist/hip ratio,Diabetes
0,194,86,67,2.9,35,male,66,159,25.7,115,64,31,35,0.89,No diabetes
1,158,74,64,2.5,30,female,62,142,26,108,68,32,34,0.94,No diabetes
2,203,71,78,2.6,45,male,66,115,18.6,135,88,30,34,0.88,No diabetes
3,160,82,41,3.9,30,female,63,143,25.3,172,124,33,40,0.83,No diabetes
4,155,81,70,2.2,32,female,65,151,25.1,120,68,33,40,0.83,No diabetes

Content authored by David Liebovitz, MD.
Approaches and annotations were modified from Pandas, Colab, and gspread sources below. Any errors are mine alone.

https://pandas.pydata.org/

https://colab.research.google.com/notebooks/markdown_guide.ipynb

https://docs.gspread.org/en/v5.4.0/#